<div class="card">
  <h3 class="card-header text-center"><%= current_user.first_name %> <%= current_user.last_name %></h3>

  <div class="container col-8 p-4">
  <h4 class="card-title text-center"><%= current_user.description %></h4>
  <p class="card-body">

     
</p>
<%= link_to "Modifier son mail", edit_user_registration_path(current_user.id), :class=> "btn btn-primary ml-auto"%>
  </div>
</div>